/* Primary Button */

button,
.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #45C3E6;
  border: 1px solid #45C3E6;
  color: #FFF;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #FFF;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin: 0 0 1.5rem;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

button:disabled,
.button:disabled,
button:disabled:hover,
.button:disabled:hover,
button:disabled:focus,
.button:disabled:focus,
button:disabled:active,
.button:disabled:active {
  background-color: #D0D0D0 !important;
  border-color: #D0D0D0 !important;
  color: #E6E6E6 !important;
}

.button--simple:disabled,
.button--simple:disabled:hover,
.button--simple:disabled:focus,
.button--simple:disabled:active {
  background-color: transparent !important;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #00CB66;
  border-color: #00CB66;
  text-decoration: none;
}

button:active,
.button:active {
  background-color: #50FFB6;
  border-color: #50FFB6;
  text-decoration: none;
}

/* Secondary Button */

.button.button--secondary {
  background-color: transparent;
  border: 2px solid #45C3E6;
  color: #45C3E6;
  fill: #45C3E6;
}

.button.button--secondary:hover,
.button.button--secondary:focus {
  background-color: transparent;
  border-color: #00CB66;
  color: #00CB66;
  fill: #00CB66;
}

.button.button--secondary:active {
  background-color: transparent;
  border-color: #50FFB6;
  color: #50FFB6;
  fill: #50FFB6;
}

/* Simple Button */

.button.button--simple {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #45C3E6;
  font-size: 1rem;
  font-style: normal;
  fill: #45C3E6;
  padding: 0 !important;
  position: relative;
  text-decoration: none;
}

.button.button--simple:after {
  background-color: #45C3E6;
  content: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.button.button--simple:hover,
.button.button--simple:focus {
  background-color: transparent;
  border: none;
  color: #00CB66;
}

.button.button--simple:active {
  background-color: transparent;
  border: none;
  color: #50FFB6;
}

/* Button Sizing */

.button.button--small {
  font-size: 0.875rem;
}

.button.button--large {
  font-size: 1.125rem;
}

/* Button Icons */

.button .button__icon svg {
  fill: inherit;
  display: block;
  height: 1.25rem;
  margin-right: 1rem;
}

.button.button--icon-right .button__icon {
  order: 1;
}

.button.button--icon-right .button__icon svg {
  margin-right: 0;
  margin-left: 1rem
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button .button__icon svg {
    width: 1.25rem;
  }
}