html {
  font-size: 16px;
}

body {
  background-color: #FFF;
  color: #1D1D1D;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  word-break: keep-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  letter-spacing: 0.02em;
  margin: 0 0 1.5rem;
}

strong {
  font-weight: 600;
}

/* Anchors */

a {
  color: #45C3E6;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #00CB66;
  text-decoration: underline;
}

a:active {
  color: #00CB66;
  text-decoration: underline;
}

a.button:disabled {
  background-color: #E6E6E6;
  pointer-events: none;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.13em;
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0.2em;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

/* Lists */

ul,
ol {
  list-style-position: inside;
  margin: 0 0 1.5rem;
  padding-left: 0;
}

ul li,
ol li {
  margin-bottom: 0.75rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
  padding-left: 3rem;
}

ul.no-list {
  list-style: none;
}

/* Code Blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 4px solid #00CB66;
  font-size: 1.5rem;
  margin: 0 0 1.5rem;
  padding-left: 1.5rem;
}

/* Horizontal Rules */

hr {
  background-color: #D0D0D0;
  border: none;
  color: #D0D0D0;
  height: 1px;
}

/* Subscripts and Superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}